
@{
    Layout = null;
}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/png" href="/Images/fav.png">
<script type="text/javascript" src="~/Javascripts/jquery.min.js"></script>
@Scripts.Render("~/Bundles/Scripts")
<link href="@Url.Content("~/CSS/foundation.min.css")" rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="~/CSS/app.min.css">
<link rel="stylesheet" href="~/CSS/toastr.min.css">


@using (@Html.BeginForm("ResetPasswordAction", "Login", new { email = @ViewData["Email"], token = @ViewData["Token"] }, FormMethod.Post, new { @class = "login", name = "ResetPassword", id= "ResetPasswordForm" }))
{
    <div class="login-box">
        <div class="login-content">
            <div class="row reset-row">
                <div class="medium-4 columns reset-columns">
                    <img src="~/Images/logo.png" />
                </div> <!-- End of medium-4 columns reset-columns -->

                <div class="medium-8 columns reset-columns">
                    <div class="login-forms">
                        <h1>Reset Password</h1>
                        <p>Please enter your new password below:</p>



                            @if (TempData["PasswordChangeResult"] != null)
        {
            if (Convert.ToString(TempData["PasswordChangeResult"]).Contains("NotMatched"))    // Password entered doesn't match
            {
                                    <div class="login-error-message">
                                        <p>Password entered does not match!</p>
                                    </div>
                                }
                                else   // Password change failure
                                {
                                    <div class="login-error-message">
                                        <p>Password change failure!. Please try again</p>
                                    </div>
                                }
                            }
                    

                        <label>
                            New Password
                        </label>
                        <input type="password" name="NewPassword" autocomplete="off" id="newpassword" data-content="required"/>

                        <label>
                            Confirm Password
                        </label>
                        <input type="password" name="ConfirmPassword" autocomplete="off" id="confirmpassword" data-content="required"/>
                    </div> <!-- End of login-forms -->
                </div> <!-- End of medium-8 columns reset-columns -->
            </div> <!-- End of row reset-row -->
        </div> <!-- End of login-content -->

        <div class="login-footer">
            <div class="row reset-row">
                <div class="small-12 medium-12 large-7 columns reset-columns help-footer">
                    <span class="help-link">Need some help? Give us a call on <a href="callto:+27860443333">0860 443 333</a>.</span>
                </div> <!--End of medium-8 columns reset-columns -->

                <div class="small-12 medium-12 large-5 columns align-center sign-in-footer">
                    <a class="button align-right" id="loginbutton" onclick="FormObjectSubmit('#loginbutton', '#ResetPasswordForm', true);">Confirm Password</a>
                </div> <!--End of medium-4 columns reset-columns -->
            </div> <!-- End of row reset-row -->
        </div> <!-- End of login-footer -->
    </div> <!-- End of login-box -->





    @*<p class="title">Enter Password</p>
    <input type="password" name="NewPassword" autocomplete="off" placeholder="Enter new password" />

    <input type="password" name="ConfirmPassword" autocomplete="off" placeholder="Confirm password" />

    <div id="ErrorMsg">
        @if (TempData["PasswordChangeResult"] != null)
        {
            if (Convert.ToString(TempData["PasswordChangeResult"]).Contains("NotMatched"))    // Password entered doesn't match
            {
                <p>Password entered does not match!</p>
            }
            else   // Password change failure
            {
                <p>Password Change failure!. Please try again</p>
            }
        }
    </div>

    <button>
        <span class="state" id="loginButton">Confirm Password</span>
    </button>*@
}



<script>

    $(document).keypress(function (e) {
        if (e.keyCode == 13 || e.which == 13) {
            FormObjectSubmit('#loginbutton', '#ResetPasswordForm', true);
        }
    });

</script>